.container {
  position: relative;
  width: 345px;
  height: 555px;
  display: flex;
  margin-top: 20px;
  transform: perspective(479px) rotateX(0deg) rotateY(-12deg)
    rotateZ(1deg);
  border: none;
  border-radius: 30px;
  margin: 20px;
}

.box_1,
.box_2,
.box_3,
.box_4,
.box_5 {
  display: flex;
  flex-direction: column;
}

.puzzlePiece_0 {
  border-top-left-radius: 30px;
  position: relative;
  width: 85px;
}

.puzzlePiece_1 {
  position: relative;
  top: -16px;
  width: 70px;
}

.puzzlePiece_2 {
  position: relative;
  top: -33px;
  width: 85px;
}

.puzzlePiece_3 {
  position: relative;
  top: -49px;
  width: 70px;
}

.puzzlePiece_4 {
  position: relative;
  top: -65px;
  width: 70px;
}

.puzzlePiece_5 {
  position: relative;
  top: -81px;
  width: 84px;
}

.puzzlePiece_6 {
  position: relative;
  top: -97px;
  width: 85px;
}

.puzzlePiece_7 {
  position: relative;
  top: -120px;
  width: 85px;
  border-bottom-left-radius: 30px;
}

.box_2 {
  position: relative;
  top: 0;
  left: -16px;
}

.puzzlePiece_8 {
  position: relative;
  width: 84px;
}

.puzzlePiece_9 {
  position: relative;
  top: -16px;
  width: 86px;
  left: -16px;
}

.puzzlePiece_10 {
  position: relative;
  top: -32px;
  width: 69px;
  left: 0px;
}

.puzzlePiece_11 {
  position: relative;
  top: -47px;
  left: -16px;
  width: 85px;
}

.puzzlePiece_12 {
  position: relative;
  top: -63px;
  width: 100px;
  left: -16px;
}

.puzzlePiece_13 {
  position: relative;
  top: -80px;
  width: 70px;
  left: -1px;
}

.puzzlePiece_14 {
  position: relative;
  top: -96px;
  left: -1px;
  width: 71px;
}

.puzzlePiece_15 {
  position: relative;
  top: -121px;
  left: 0px;
  width: 85px;
}

.box_3 {
  position: relative;
  top: 0;
  left: -47px;
}

.puzzlePiece_16 {
  position: relative;
  width: 68px;
}

.puzzlePiece_17 {
  position: relative;
  top: -16px;
  width: 103px;
  left: -17px;
}

.puzzlePiece_18 {
  position: relative;
  top: -34px;
  width: 103px;
  left: -17px;
}

.puzzlePiece_19 {
  position: relative;
  top: -51px;
  left: -16px;
  width: 85px;
}

.puzzlePiece_20 {
  position: relative;
  top: -67px;
  width: 70px;
  left: -1px;
}

.puzzlePiece_21 {
  position: relative;
  top: -84px;
  left: -16px;
  width: 85px;
}

.puzzlePiece_22 {
  position: relative;
  top: -100px;
  left: -18px;
  width: 104px;
}

.puzzlePiece_23 {
  position: relative;
  top: -124px;
  left: -1px;
  width: 68px;
}

.box_4 {
  position: relative;
  top: 0;
  left: -71px;
}

.puzzlePiece_24 {
  position: relative;
  width: 99px;
  left: -27px;
}

.puzzlePiece_25 {
  position: relative;
  top: -15px;
  width: 69px;
  left: -12px;
}

.puzzlePiece_26 {
  position: relative;
  top: -31px;
  width: 86px;
  left: -13px;
}

.puzzlePiece_27 {
  position: relative;
  top: -47px;
  left: -28px;
  width: 85px;
}

.puzzlePiece_28 {
  position: relative;
  top: -63px;
  width: 85px;
  left: -28px;
}

.puzzlePiece_29 {
  position: relative;
  top: -83px;
  left: -31px;
  width: 91px;
}

.puzzlePiece_30 {
  position: relative;
  top: -103px;
  left: -13px;
  width: 72px;
}

.puzzlePiece_31 {
  position: relative;
  top: -128px;
  left: -29px;
  width: 85px;
}

.box_5 {
  position: relative;
  top: 0;
  left: -97px;
}

.puzzlePiece_32 {
  position: relative;
  width: 68px;
  left: -22px;
  border-top-right-radius: 30px;
}

.puzzlePiece_33 {
  position: relative;
  top: -15px;
  width: 85px;
  left: -38px;
}

.puzzlePiece_34 {
  position: relative;
  top: -31px;
  width: 70px;
  left: -23px;
}

.puzzlePiece_35 {
  position: relative;
  top: -48px;
  left: -39px;
  width: 87px;
}

.puzzlePiece_36 {
  position: relative;
  top: -64px;
  width: 86px;
  left: -39px;
}

.puzzlePiece_37 {
  position: relative;
  top: -80px;
  left: -34px;
  width: 80px;
}

.puzzlePiece_38 {
  position: relative;
  top: -98px;
  left: -39px;
  width: 85px;
}

.puzzlePiece_39 {
  position: relative;
  top: -116px;
  left: -38px;
  width: 84px;
  border-bottom-right-radius: 30px;
}

@media screen and (max-width: 500px) {
  .container {
    position: relative;
    width: 270px;
    height: 426px;
    display: flex;
    margin-top: 20px;
    transform: perspective(479px) rotateX(0deg) rotateY(-12deg)
      rotateZ(1deg);
    border: none;
    border-radius: 30px;
    margin: 20px;
  }

  .puzzlePiece_0 {
    border-top-left-radius: 30px;
    position: relative;
    width: 65px;
  }

  .puzzlePiece_1 {
    position: relative;
    top: -16px;
    width: 53px;
  }

  .puzzlePiece_2 {
    position: relative;
    top: -28px;
    width: 65px;
  }

  .puzzlePiece_3 {
    position: relative;
    top: -40px;
    width: 53px;
  }

  .puzzlePiece_4 {
    position: relative;
    top: -52px;
    width: 53px;
  }

  .puzzlePiece_5 {
    position: relative;
    top: -64px;
    width: 64px;
  }

  .puzzlePiece_6 {
    position: relative;
    top: -76px;
    width: 64px;
  }

  .puzzlePiece_7 {
    position: relative;
    top: -88px;
    width: 65px;
    border-bottom-left-radius: 30px;
  }

  .box_2 {
    position: relative;
    top: 0;
    left: -12px;
  }

  .puzzlePiece_8 {
    position: relative;
    width: 65px;
  }

  .puzzlePiece_9 {
    position: relative;
    top: -18px;
    width: 68px;
    left: -14px;
  }

  .puzzlePiece_10 {
    position: relative;
    top: -32px;
    width: 53px;
    left: 0px;
  }

  .puzzlePiece_11 {
    position: relative;
    top: -45px;
    left: -13px;
    width: 66px;
  }

  .puzzlePiece_12 {
    position: relative;
    top: -59px;
    width: 83px;
    left: -16px;
  }

  .puzzlePiece_13 {
    position: relative;
    top: -75px;
    width: 54px;
    left: -1px;
  }

  .puzzlePiece_14 {
    position: relative;
    top: -90px;
    left: -2px;
    width: 56px;
  }

  .puzzlePiece_15 {
    position: relative;
    top: -105px;
    left: 0px;
    width: 64px;
  }

  .box_3 {
    position: relative;
    top: 0;
    left: -42px;
  }

  .puzzlePiece_16 {
    position: relative;
    width: 53px;
  }

  .puzzlePiece_17 {
    position: relative;
    top: -16px;
    width: 77px;
    left: -12px;
  }

  .puzzlePiece_18 {
    position: relative;
    top: -30px;
    width: 80px;
    left: -14px;
  }

  .puzzlePiece_19 {
    position: relative;
    top: -44px;
    left: -12px;
    width: 65px;
  }

  .puzzlePiece_20 {
    position: relative;
    top: -56px;
    width: 53px;
    left: 0px;
  }

  .puzzlePiece_21 {
    position: relative;
    top: -68px;
    left: -12px;
    width: 65px;
  }

  .puzzlePiece_22 {
    position: relative;
    top: -80px;
    left: -12px;
    width: 76px;
  }

  .puzzlePiece_23 {
    position: relative;
    top: -93px;
    left: -1px;
    width: 53px;
  }

  .box_4 {
    position: relative;
    top: 0;
    left: -57px;
  }

  .puzzlePiece_24 {
    position: relative;
    width: 77px;
    left: -27px;
  }

  .puzzlePiece_25 {
    position: relative;
    top: -14px;
    width: 51px;
    left: -13px;
  }

  .puzzlePiece_26 {
    position: relative;
    top: -25px;
    width: 62px;
    left: -13px;
  }

  .puzzlePiece_27 {
    position: relative;
    top: -37px;
    left: -26px;
    width: 65px;
  }

  .puzzlePiece_28 {
    position: relative;
    top: -49px;
    width: 66px;
    left: -27px;
  }

  .puzzlePiece_29 {
    position: relative;
    top: -62px;
    left: -30px;
    width: 70px;
  }

  .puzzlePiece_30 {
    position: relative;
    top: -79px;
    left: -14px;
    width: 53px;
  }

  .puzzlePiece_31 {
    position: relative;
    top: -92px;
    left: -26px;
    width: 65px;
  }

  .box_5 {
    position: relative;
    top: 0;
    left: -74px;
  }

  .puzzlePiece_32 {
    position: relative;
    width: 53px;
    left: -22px;
    border-top-right-radius: 30px;
  }

  .puzzlePiece_33 {
    position: relative;
    top: -15px;
    width: 65px;
    left: -34px;
  }

  .puzzlePiece_34 {
    position: relative;
    top: -29px;
    width: 54px;
    left: -23px;
  }

  .puzzlePiece_35 {
    position: relative;
    top: -42px;
    left: -38px;
    width: 69px;
  }

  .puzzlePiece_36 {
    position: relative;
    top: -64px;
    width: 70px;
    left: -39px;
  }

  .puzzlePiece_37 {
    position: relative;
    top: -77px;
    left: -37px;
    width: 67px;
  }

  .puzzlePiece_38 {
    position: relative;
    top: -90px;
    left: -39px;
    width: 69px;
  }

  .puzzlePiece_39 {
    position: relative;
    top: -105px;
    left: -33px;
    width: 62px;
    border-bottom-right-radius: 30px;
  }
}
