.container {
  position: relative;
  width: 350px;
  height: 550px;
  display: flex;
  margin-top: 20px;
  transform: perspective(479px) rotateX(0deg) rotateY(-12deg)
    rotateZ(1deg);
  border: none;
  border-radius: 30px;
  margin: 20px;
}

.box_1,
.box_2,
.box_3,
.box_4,
.box_5 {
  display: flex;
  flex-direction: column;
}

.puzzlePiece_0 {
  border-top-left-radius: 30px;
  position: relative;
  width: 85px;
}

.puzzlePiece_1 {
  position: relative;
  top: -16px;
  width: 70px;
}

.puzzlePiece_2 {
  position: relative;
  top: -32px;
  width: 85px;
}

.puzzlePiece_3 {
  position: relative;
  top: -47px;
  width: 70px;
}

.puzzlePiece_4 {
  position: relative;
  top: -65px;
  width: 70px;
}

.puzzlePiece_5 {
  position: relative;
  top: -81px;
  width: 84px;
}

.puzzlePiece_6 {
  position: relative;
  top: -98px;
  width: 83px;
}

.puzzlePiece_7 {
  position: relative;
  top: -120px;
  width: 83px;
  border-bottom-left-radius: 30px;
}

.box_2 {
  position: relative;
  top: 0;
  left: -16px;
}

.puzzlePiece_8 {
  position: relative;
  width: 85px;
}

.puzzlePiece_9 {
  position: relative;
  top: -15px;
  width: 85px;
  left: -16px;
}

.puzzlePiece_10 {
  position: relative;
  top: -30px;
  width: 68px;
}

.puzzlePiece_11 {
  position: relative;
  top: -44px;
  left: -14px;
  width: 82px;
}

.puzzlePiece_12 {
  position: relative;
  top: -59px;
  width: 100px;
  left: -16px;
}

.puzzlePiece_13 {
  position: relative;
  top: -74px;
  width: 68px;
}

.puzzlePiece_14 {
  position: relative;
  top: -90px;
  left: -1px;
  width: 69px;
}

.puzzlePiece_15 {
  position: relative;
  top: -115px;
  left: -1px;
  width: 83px;
}

.box_3 {
  position: relative;
  top: 0;
  left: -47px;
}

.puzzlePiece_16 {
  position: relative;
  width: 68px;
}

.puzzlePiece_17 {
  position: relative;
  top: -14px;
  width: 100px;
  left: -16px;
}

.puzzlePiece_18 {
  position: relative;
  top: -30px;
  width: 100px;
  left: -16px;
}

.puzzlePiece_19 {
  position: relative;
  top: -44px;
  left: -15px;
  width: 82px;
}

.puzzlePiece_20 {
  position: relative;
  top: -58px;
  width: 68px;
}

.puzzlePiece_21 {
  position: relative;
  top: -73px;
  left: -16px;
  width: 83px;
}

.puzzlePiece_22 {
  position: relative;
  top: -88px;
  left: -16px;
  width: 97px;
}

.puzzlePiece_23 {
  position: relative;
  top: -110px;
  left: -2px;
  width: 68px;
}

.box_4 {
  position: relative;
  top: 0;
  left: -67px;
}

.puzzlePiece_24 {
  position: relative;
  width: 98px;
  left: -27px;
}

.puzzlePiece_25 {
  position: relative;
  top: -14px;
  width: 68px;
  left: -11px;
}

.puzzlePiece_26 {
  position: relative;
  top: -29px;
  width: 85px;
  left: -12px;
}

.puzzlePiece_27 {
  position: relative;
  top: -44px;
  left: -28px;
  width: 85px;
}

.puzzlePiece_28 {
  position: relative;
  top: -60px;
  width: 85px;
  left: -28px;
}

.puzzlePiece_29 {
  position: relative;
  top: -76px;
  left: -28px;
  width: 85px;
}

.puzzlePiece_30 {
  position: relative;
  top: -94px;
  left: -13px;
  width: 68px;
}

.puzzlePiece_31 {
  position: relative;
  top: -114px;
  left: -29px;
  width: 80px;
}

.box_5 {
  position: relative;
  top: 0;
  left: -87px;
}

.puzzlePiece_32 {
  position: relative;
  width: 68px;
  left: -22px;
  border-top-right-radius: 30px;
}

.puzzlePiece_33 {
  position: relative;
  top: -14px;
  width: 83px;
  left: -37px;
}

.puzzlePiece_34 {
  position: relative;
  top: -28px;
  width: 66px;
  left: -20px;
}

.puzzlePiece_35 {
  position: relative;
  top: -41px;
  left: -37px;
  width: 84px;
}

.puzzlePiece_36 {
  position: relative;
  top: -56px;
  width: 85px;
  left: -37px;
}

.puzzlePiece_37 {
  position: relative;
  top: -71px;
  left: -37px;
  width: 85px;
}

.puzzlePiece_38 {
  position: relative;
  top: -88px;
  left: -38px;
  width: 86px;
}

.puzzlePiece_39 {
  position: relative;
  top: -120px;
  left: -44px;
  width: 91px;
  border-bottom-right-radius: 30px;
}
