.imageCard {
  width: 390px;
  height: 600px;
  background-color: #fff;
  border: 5px solid #9a95ff;
  transform: perspective(479px) rotateX(0deg) rotateY(-13deg)
    rotateZ(3deg);
  border-radius: 30px;
  overflow: hidden;
  top: 0;
}

.imageCard img {
  width: 100%; /* Изображение займет всю ширину родителя */
  height: 100%; /* Изображение займет всю высоту родителя */
  object-fit: cover; /* Сохраняет пропорции, изображение обрежется, чтобы заполнить контейнер */
  border-radius: inherit; /* Наследует закругленные углы от родителя */
}

/* 
transform: perspective(682px) rotateX(3deg) rotateY(-21deg)
    rotateZ(2deg); */
